/*Color principal: #5265E1 
Color secundari: #FA5959.*/
$primary: #5265E1;
$secondary: #FA5959;
$danger: #cccccc;
$black: #000;



$theme-colors: (
    "azul": $primary,
    "blanco": $danger,
    "rojo": $secondary,
    "megro": $black
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";


.nav-link {
    color: black;
}

.col-lg-1.col-sm-6.justify-content-right,
 img#simboloHamburguesa.img-fluid{

    visibility: hidden;

}

.nav-underline .nav-link.active,
.nav-underline .show>.nav-link {
    font-weight: 700;
    color: var(--bs-nav-underline-link-active-color);
    border-bottom-color: red;
}

div#containerYs.col-lg-6.col-sm-6{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 50px;
}

div.button-container{

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

button.btn.btn-azul{
    display: flex;
    align-self: flex-start;
    margin: 2px;
    border: 1px solid white;
}

div#card2.card{
    margin-top: 30px;
}

div#card3.card{
    margin-top: 60px;

}

/*div#background.col-lg-6{ //COLOR AZUL BAJO foto
    background-color: $primary;
    block-size: 200px;
    border-radius: 25%;
   padding-top: 40px;
   
    
}*/

//----MEDIAQUERYS----//


@media screen and (min-width: 317px) and (max-width: 579px) {

    
.container.pt-5{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    div.col-lg-5.col-sm-5{
        width: 150px;
    }
    
    
    div.col-lg-1.col-sm-6.justify-content-right {
        width: 150px;
        visibility: visible;
        text-align: right;
    }

    img#simboloHamburguesa.img-fluid {
        visibility: visible;
        width: 27px;
        height: 25px;


    }

    div#containerNav.col-lg-6.col-sm-1 {

        display: none;

    }

    div#row1.row    {
        display: flex;
        flex-direction: column-reverse;
        
        }

    div.button-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }


div.col-lg-5.col-sm-5 {

    display: flex;
    flex-direction: column-reverse;
    width: 50px;
    justify-content: center;
    align-items: center;
    }

.col-lg-1.col-sm-6.justify-content-right{
    
    margin-left: 100px;
    padding-left: 50px;
}


div.col-lg-6.col-sm-6{

    text-align: center;
}

h2.text-md-center.fw-bold.mt-3.pt-3.pb-3{
    text-align: center;
}

 hr#linea{
    display:flex;
    flex-direction: row;
    width: 90%;

 }

li.nav-item.m-3{

    border-bottom: 1px black solid;
}

div#downloadText.row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

div.col-lg-4.col-sm-12{

    display: flex;
    justify-content: center;
    width: 100%;
}

div#containerYs.col-lg-6.col-sm-6{
    display: flex;
    justify-content: center;
}

button#botonOff.btn.btn-azul{
    display: none;
}

div#downloadTextContainer.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}



h3.text-start.fw-bold.pt5.pb-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


div.col-md-10.col-sm-12{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#buttonFaqsContainer.col-md-4.col-sm-4.mt-2{
    display: flex;
    justify-content: center;
}

}